
/* CSS For Mobile First */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(resources/Background-Phone.jpg);
    font-family: Garamond, serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #d6d1d1;
}

.Header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 10px;
}

.Navigationbar {
    display: flex;
    justify-content: center;
    background-color: #f8f2f2;
    padding: 1rem;
}

.Navigationbar li {
    list-style: none;
}

.NavigationText a {
    color: rgb(12, 11, 11);
    display: flex;
    align-items: center;
}

.NavigationText img {
    margin-right: 7px;
}

.Link-Text {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.myvideo {
    margin-left: 27%;
    width: 200px;
    height: 400px;
}

/* CSS For Mobile First END*/

/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

/* CSS For Homepage */

.HomePictureRight {
    float: right;
    margin-left: 20px;
    max-width: 300px;
    height: 220px; 
    width: 50%;
}

section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    color: #0f0c0c;
}

.HomeIGLink {
    color: #1e90ff;
    text-decoration: none;
    text-align: center;
    font-size: 8px;
}

.HomeIGIcon {
    width: 64px;
    height: 64px;
}

.HomeIGLogo {
    display: flex;
    justify-content: center;
}

.floating-sidebar {
    display: none;
}

/* CSS For Homepage END */

/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

/* CSS Media For Tablet */
@media (min-width: 768px) {
    
    body {
        background-image: url(resources/Background-Tablet.jpg);
    }

    .Navigationbar {
        position: sticky;
        top: 0px;
        background-color: #f8f2f2;
        padding: 20px;
        text-align: center;
        float: left;
        width: 22%;
        height: 100vh;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .Header {
        font-size: 20px;
    }

    .LetStartWith {
        font-size: 24px;
        margin-left: 25%;
    }

    .textbody{
        font-size: 20px;
        margin-left: 20%;
        padding: 1rem;
        text-align: center;
    }

    .NavbarPic {
        width: 70px;
        height: 70px;
    }

    .HomePictureRight{
        width: 350px;
        height: 400px;
    }

    .HomeIGLink {
        margin-left: 150px;
        font-size: 14px;
    }

    .myvideo {
        margin-left: 10%;
        width: 300px;
        height: 500px;
    }
}
/* CSS Media For Tablet END */

/* CSS Media For Desktop */
@media (min-width: 1024px) {

    body {
        background-image: url(resources/Background-Desktop.jpg);
    }

    .Navigationbar {
        position: sticky;
        top: 0px;
        background-color: #f8f2f2;
        padding: 15px;
        text-align: center;
        float: left;
        width: 13%;
        height: 100vh;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .Header {
        font-size: 40px;
    }

    .NavbarPic {
        width: 120px;
        height: 100px;
    }

    .HomePictureRight{
        width: 300px;
        height: 400px;
    }
    
    .HomeIGLink {
        font-size: 26px;
    }

    .LetStartWith {
        margin-left: 20%;
    }
    
    .content-display {
        margin-right: 60%;
        text-align: left;
    }
    
    .textbody {
        font-size: 20px;
        padding: 0; 
        margin: 0; 
        text-align: left; 
        width: 100%;
    }

    .myvideo {
        width: 700px;
        height: 500px;
        margin-left: 20px;
        margin-top: 100px;
    }

    .floating-sidebar {
        position: fixed;
        top: 100px;
        right: 20px;
        width: 200px;
        color: #333;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        display: block;
    }
    
    .sidebar-images img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
}
/* CSS Media For Desktop END*/

/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

/* CSS For Journey */

.First_Explain {
    height: 200px;
    width: 50%;
    float: left;
    padding: 30px;
    text-align: center;
}

.Side_List {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS For Journey END*/

/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/

/* CSS For Future */

.FutureVision {
    padding: 50px;
    background-color: rgb(53, 49, 49);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #dce4e4;
    width: 50%;
}

.goal-list { 
    margin-top: 15px;
    padding-left: 20px; 
} 

.quote { 
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #e67878; 
    margin-top: 20px; 
} 

.Quote3 { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}



/* CSS For Future END*/
